


.wp-block-quote{
    color: #D01010;
    font-family: Montserrat;
}

.wp-block-heading{
    color: #D01010;
    text-align: start;
}

.wp-block-paragraph{
    color:#D01010;
    justify-content: center;
    align-content: center
}

.wp-block-list{
    order:initial;
    order: reverse;
    text-anchor: middle;
    color: #D01010;
}

.wp-block-code{

    padding: 2rem;
    margin-top: 1rem;
    word-spacing: 1rem;
}

.wp-block-preformatted{
    font-size: 2rem;
    font-family: fantasy;
    color: #D01010;
}

.wp-block-pullquote{
    color: #D01010;
    text-align: start;
    text-justify: distribute-all-lines;
}

.wp-block-table{
    color:white;
    
    padding: 2rem;
    text-justify: inter-word;
}
.wp-block-verse{
    color:#D01010;
    align-content: center;
    font-size: 3rem;
    font-family: cursive;
    text-transform: capitalize;
}

.wp-block-image{
    text-anchor: start;
    size: 2rem;
    border-radius: 50%;
}

.wp-block-cover__inner-container .wp-block-paragraph{
color: #D01010;

}


.wp-block-file{
text-align: center;
text-decoration: solid;
text-decoration: wavy;
}

.wp-block-file__button{
color:#D01010;
white-space: nowrap;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wp-block-media_text{
    align-content: stretch;
    
}

.wp-block-video{
    border-radius:20%;
    
}


.wp-block-button__link{
    color: azure;

}

.wp-block-column{

    color: aliceblue;
    align-items: center;
    text-align: center
}

.wp-block-row{
    
    font-family: cursive;
    font-size: 3rem;
    font-style: bold
}

.wp-block-more{
    font-size: xx-large;
    font-family: monospace;
    text-transform: uppercase;
    
}

.wp-block-next-page{
    
}

.wp-block-spacer{
    
}

.wp-block-archieve{
    color: #D01010;
    font-family:Montserrat
}

.wp-block-calendar{
    
    font-family:Montserrat;
    color: aliceblue
}

.wp-block-html{
    color: #D01010;
}

.wp-block-social-links{
    color: #D01010;
}

.wp-block-site-logo{
    border-radius: 50%;
}

.wp-block-site-title{
    color: #D01010;
    font-family:Montserrat;
}



.entry-content > *{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

.alignwide{
    max-width: 1440px;
}
.alignfull{
    max-width: 100%;
}

.entry-header{
    text-align: center
}

#wsf-1-field-19{
    color:aliceblue;
    
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.custom-logo{
    padding: 10px;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}

#site-navigation{
    float: right;
    color: #D01010;
}

a{
    color: #D01010;

}
.menu-primary-menu-container{
    color: #D01010;
}



.entry-title{
    align-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.wp-block-button__link:active, .wp-block-button__link:focus, .wp-block-button__link:hover, .wp-block-button__link:visited{
    background-color: #D01010;
}

/* post image align */
.wp-post-image{
    align-content: center;
    height: 300px;
    }


    .wp-block-media-text_content{
        text-align: center;
    
    }